<a href="https://colab.research.google.com/github/Kobeieii/Project/blob/main/The_Movies_Dataset_Recoomendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Kaggle dataset into Google Colab

In [ ]:
!pip install --upgrade --force-reinstall --no-deps kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 4.4 MB/s
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73051 sha256=75f0f382ec2ce33c757eec5e5925b67bae70fa73db78a451913e7d4a36b5d700
  Stored in directory: /root/.cache/pip/wheels/62/d6/58/5853130f941e75b2177d281eb7e44b4a98ed46dd155f556dc5
Successfully built kaggle
Installing collected packages: kaggle
  Attempting uninstall: kaggle
    Found existing installation: kaggle 1.5.12
    Uninstalling kaggle-1.5.12:
      Successfully uninstalled kaggle-1.5.12
Successfully installed kaggle-1.5.12

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/MyDrive/Kaggle"
%cd /content/gdrive/MyDrive/Kaggle

/content/gdrive/MyDrive/Kaggle

In [ ]:
!kaggle datasets download -d rounakbanik/the-movies-dataset

Downloading the-movies-dataset.zip to /content/gdrive/MyDrive/Kaggle
 95% 217M/228M [00:05<00:00, 60.4MB/s]
100% 228M/228M [00:05<00:00, 44.8MB/s]

In [ ]:
!unzip "/content/gdrive/MyDrive/Kaggle/the-movies-dataset.zip" -d "/content/gdrive/MyDrive/Kaggle/movies_dataset"

Archive:  /content/gdrive/MyDrive/Kaggle/the-movies-dataset.zip
  inflating: /content/gdrive/MyDrive/Kaggle/movies_dataset/credits.csv
  inflating: /content/gdrive/MyDrive/Kaggle/movies_dataset/keywords.csv
  inflating: /content/gdrive/MyDrive/Kaggle/movies_dataset/links.csv
  inflating: /content/gdrive/MyDrive/Kaggle/movies_dataset/links_small.csv
  inflating: /content/gdrive/MyDrive/Kaggle/movies_dataset/movies_metadata.csv
  inflating: /content/gdrive/MyDrive/Kaggle/movies_dataset/ratings.csv
  inflating: /content/gdrive/MyDrive/Kaggle/movies_dataset/ratings_small.csv

# Read data

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet

import warnings; warnings.simplefilter('ignore')

In [ ]:
#movies_metadata.csv: The main Movies Metadata file. 

movie_df = pd.read_csv('/content/gdrive/MyDrive/Kaggle/movies_dataset/movies_metadata.csv')
movie_df.head(2)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0

[2 rows x 24 columns]

In [ ]:
# Contains the TMDB and IMDB IDs of a small subset of 9,000 movies of the Full Dataset.

links_small = pd.read_csv('/content/gdrive/MyDrive/Kaggle/movies_dataset/links_small.csv')
links_small.head(2)

   movieId  imdbId  tmdbId
0        1  114709   862.0
1        2  113497  8844.0

In [ ]:
#Consists of Cast and Crew Information for all our movies. Available in the form of a stringified JSON Object.

credits = pd.read_csv('/content/gdrive/MyDrive/Kaggle/movies_dataset/credits.csv')
credits.head(2)

                                                cast  ...    id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...   862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...  8844

[2 rows x 3 columns]

In [ ]:
# Contains the movie plot keywords for our MovieLens movies. Available in the form of a stringified JSON Object.

keywords = pd.read_csv('/content/gdrive/MyDrive/Kaggle/movies_dataset/keywords.csv')
keywords.head(2)

     id                                           keywords
0   862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...

#Data preparation

In [ ]:
#format data types
movie_df = movie_df.drop([19730, 29503, 35587])
movie_df['id'] = movie_df['id'].astype('int')
credits['id'] = credits['id'].astype('int')

links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

In [ ]:
md = movie_df.merge(credits, on='id')
md = md.merge(keywords, on='id')
smd = md[md['id'].isin(links_small)]
smd.shape

(9219, 27)

In [ ]:
smd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9219 entries, 0 to 41669
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  9219 non-null   object
 1   belongs_to_collection  1688 non-null   object
 2   budget                 9219 non-null   object
 3   genres                 9219 non-null   object
 4   homepage               2001 non-null   object
 5   id                     9219 non-null   int64
 6   imdb_id                9219 non-null   object
 7   original_language      9219 non-null   object
 8   original_title         9219 non-null   object
 9   overview               9207 non-null   object
 10  popularity             9219 non-null   object
 11  poster_path            9216 non-null   object
 12  production_companies   9219 non-null   object
 13  production_countries   9219 non-null   object
 14  release_date           9219 non-null   object
 15  revenue                9219 non-null   float64
 16  runtime                9219 non-null   float64
 17  spoken_languages       9219 non-null   object
 18  status                 9217 non-null   object
 19  tagline                7082 non-null   object
 20  title                  9219 non-null   object
 21  video                  9219 non-null   object
 22  vote_average           9219 non-null   float64
 23  vote_count             9219 non-null   float64
 24  cast                   9219 non-null   object
 25  crew                   9219 non-null   object
 26  keywords               9219 non-null   object
dtypes: float64(4), int64(1), object(22)
memory usage: 2.0+ MB



*   cast: เลือกนักแสดงนำ 3 คนแรก
*   crew: เลือกเฉพาะผู้กำกับ
*genres: เลือกเฉพาะประเภทของหนัง

In [ ]:
#format string to list
smd['cast'] = smd['cast'].apply(eval)
smd['crew'] = smd['crew'].apply(eval)
smd['genres'] = smd['genres'].apply(eval)
smd['keywords'] = smd['keywords'].apply(eval)

#find director & lead actor
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan
smd['director'] = smd['crew'].apply(get_director)
smd['cast'] = smd['cast'].apply(lambda x: [i['name'] for i in x])
smd['cast'] = smd['cast'].apply(lambda x: x[:3] if len(x) >=3 else x)
smd['keywords'] = smd['keywords'].apply(lambda x: [i['name'] for i in x])
smd['genres'] = smd['genres'].apply(lambda x: [i['name'] for i in x])
smd.head()

   adult  ...         director
0  False  ...    John Lasseter
1  False  ...     Joe Johnston
2  False  ...    Howard Deutch
3  False  ...  Forest Whitaker
4  False  ...    Charles Shyer

[5 rows x 28 columns]

In [ ]:
print(smd['cast'][0])
print(smd['director'][0])

['Tom Hanks', 'Tim Allen', 'Don Rickles']
John Lasseter

In [ ]:
smd['cast'] = smd['cast'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])
smd['director'] = smd['director'].astype('str').apply(lambda x: str.lower(x.replace(" ", "")))
smd['director'] = smd['director'].apply(lambda x: [x,x, x])
smd.head(2)

   adult  ...                                    director
0  False  ...  [johnlasseter, johnlasseter, johnlasseter]
1  False  ...     [joejohnston, joejohnston, joejohnston]

[2 rows x 28 columns]

In [ ]:
smd['release_date'] = pd.to_datetime(smd['release_date'],format='%Y-%m-%d', errors='coerce')
smd['year'] = smd['release_date'].dt.year

In [ ]:
# บางคำที่ความหมายแบบเดียวกัน แต่สะกดต่างออกไป จึงต้องใช้ SnowballStemmer
stemmer = SnowballStemmer('english')
stemmer.stem('jealousy')

'jealousi'

In [ ]:
smd['keywords'] = smd['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
smd['keywords'] = smd['keywords'].apply(lambda x: [str.lower(i.replace(" ", "")) for i in x])

In [ ]:
smd['soup'] = smd['keywords'] + smd['cast'] + smd['director'] + smd['genres']
smd['soup'] = smd['soup'].apply(lambda x: ' '.join(x))
smd['soup']

0        jealousi toy boy friendship friend rivalri boy...
1        boardgam disappear basedonchildren'sbook newho...
2        fish bestfriend duringcreditsst oldmen walterm...
3        basedonnovel interracialrelationship singlemot...
4        babi midlifecrisi confid age daughter motherda...
                               ...
40952    friendship brickmak sidneypoitier wendycrewson...
41172    bollywood akshaykumar ileanad'cruz eshagupta t...
41225    bollywood hrithikroshan poojahegde kabirbedi a...
41391    monster godzilla giantmonst destruct kaiju toy...
41669    music documentari paulmccartney ringostarr joh...
Name: soup, Length: 9219, dtype: object

#Content based Filtering

Content-based Filtering จะดูที่ลักษณะของสินค้าที่จะแนะนำ และแนะนำสิ่งที่มีลักษณะหรือมีคำอธิบายคล้ายกับโปรไฟล์ของผู้ใช้ รวมถึงลักษณะของสิ่งที่ผู้ใช้เคยใช้หรือเคยชอบ เช่น ระบบจะแนะนำหนังที่เนื้อหาของหนังมีความคล้ายกับหนังที่ผู้ใช้เคยดูมาก่อนหน้านี้ ดังนั้นการใช้ Content-based Filtering จะต้องมีข้อมูลคุณลักษณะของสินค้า เช่น กลุ่ม/ประเภท ขนาด ราคา สี สไตล์ ฟังก์ชั่น ตำแหน่งแบรนด์ดิ้ง หรือคำอธิบายตัวสินค้าแบบย่อ เป็นต้น

ข้อดี


1.   เนื่องจากระบบแนะนำดูโปรไฟล์ของผู้ใช้แต่ละคนแยกออกจากกัน สินค้าที่แนะนำจะค่อนข้างตรงกับรสนิยมของผู้ใช้ที่มีรสนิยมแตกต่างจากคนส่วนใหญ่
2.   ไม่ต้องการข้อมูลจากลูกค้าอื่น หากมีสินค้าใหม่เข้ามา ระบบสามารถแนะนำสินค้าได้เลย

ข้อเสีย


1.   การเตรียมแคตาล็อคข้อมูลสินค้าซึ่งใช้เวลามาก และการสร้าง feature ที่เหมาะสมเพื่ออธิบายตัวสินค้าและโปรไฟล์ของผู้ใช้ซึ่งขึ้นอยู่กับแนวของสินค้า
2.   สินค้าที่แนะนำจะไม่ค่อยมีความหลากหลายมากนัก

In [ ]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(smd['soup'])
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [ ]:
cosine_sim[0]

array([1.        , 0.02441931, 0.02654659, ..., 0.        , 0.        ,
       0.        ])

In [ ]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

In [ ]:
def weighted_rating(x, m, C):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

ระบบ recommendation system นี้จะแนะนำหนังโดยเรียงลำดับจาก

*   ประเภทของหนังที่คล้ายกันที่สุด
*   มีนักแสดงนำที่ใกล้เคียงกันที่สุด
*ผู้กำกับคนเดียวกัน
*เรียงลำดับตามเรทติ้งที่ผ่านการ weight มาแล้ว

In [ ]:
def recommendations(title):
    #หา idx ที่ soup คล้ายกันที่สุด 26 อันดับแรก
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    #sort ตาม weighted rating ของแต่ละเรื่อง
    movies = smd.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = weighted_rating(qualified, m, C)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [ ]:
recommendations('Inception')

                         title  vote_count  vote_average  year        wr
6981           The Dark Knight       12269             8  2008  7.691956
8613              Interstellar       11187             8  2014  7.667324
6623              The Prestige        4510             8  2006  7.343268
3381                   Memento        4168             8  2000  7.308781
8031     The Dark Knight Rises        9263             7  2012  6.814171
6218             Batman Begins        7511             7  2005  6.781136
4173           Minority Report        2663             7  2002  6.569248
7286  X-Men Origins: Wolverine        4086             6  2009  6.029168
8207                    Looper        4777             6  2012  6.026338
7903             Green Lantern        2551             5  2011  5.517233